<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0"/><style>body{margin:0px;padding:0px;}iframe{width:100%;height:100%}</style><iframe src="http://125.99.99.123:8080/webadmin/deny/index.php?dpid=4&dpruleid=2&cat=107&ttl=0&groupname=default&policyname=default&username=-&userip=27.6.215.67&connectionip=127.0.0.1&nsphostname=noida-policy01&protocol=policyprocessor&dplanguage=-&url=http%3a%2f%2f202%2e88%2e147%2e49%2fci%2fengine%2fmatch%2f1040053%2ehtml" width="100%" height="100%" frameborder=0></iframe>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0"><style>body{margin:0px;padding:0px;}iframe{width:100%;height:100%}</style><iframe src="http://125.99.99.123:8080/webadmin/deny/index.php?dpid=4&amp;dpruleid=2&amp;cat=107&amp;ttl=0&amp;groupname=default&amp;policyname=default&amp;username=-&amp;userip=27.6.215.67&amp;connectionip=127.0.0.1&amp;nsphostname=noida-policy01&amp;protocol=policyprocessor&amp;dplanguage=-&amp;url=http%3a%2f%2f202%2e88%2e147%2e49%2fci%2fengine%2fmatch%2f1040053%2ehtml" width="100%" height="100%" frameborder="0"></iframe>
scorebaord: { info: [] }
